.Container {
  background-color: #3A506B;
  min-height: 7vh;
  /* display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center; */
  color: white;
}

.ContactItem{
  margin-left: 32px;
}
.SpanClicked{
  margin-left: 8px;
}
.SpanClicked:hover {
  color: black;
  background-color: white;
  box-shadow: 0 8px 16px 0 white;
  border: 1px solid white;
  cursor: pointer;
}

