@import '~antd/dist/antd.css';

html {
  scroll-behavior: smooth;
}
.App {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}
@media(max-width: 600px){
  .App {
    font-size: 1.2em;
  }
  
}